DB_HOST=localhost
DB_NAME=my_diet
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

SERVER_PORT=3000
SERVER_HOST=http://localhost:3000

JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRED_IN=60m
JWT_ACCESS_MAXAGE=60

JWT_REFRESH_EXPIRED_IN=60m
JWT_REFRESH_MAXAGE=60
JWT_REFRESH_SECRET=secret_refresh
